<div class="contents row">
  <% @cheats.each do |cheat| %>
    <div class="content_post" style="background-image: url(<%= cheat.image %>);">
      <p><%= cheat.text %></p>
      <span class="name">
        <%= cheat.name %>
      <%= image_tag cheat.image.variant(resize: '500x500'), class: "item-img" if cheat.image.attached? %>
      </span>
    </div>
  <% end %>
</div>